version: '3.3'

services:
  feed-generator:
    image: feed-generator
    build:
      context: .
      dockerfile: feed-generator/Dockerfile
      
  hashtag-actor:
    image: hashtag-actor
    build:
      context: .
      dockerfile: hashtag-actor/Dockerfile

  hashtag-counter:
    image: hashtag-counter
    build:
      context: .
      dockerfile: hashtag-counter/Dockerfile

  message-analyzer:
    image: message-analyzer
    build:
      context: .
      dockerfile: message-analyzer/Dockerfile

  pubsub-workflow:
    image: pubsub-workflow
    build:
      context: .
      dockerfile: pubsub-workflow/Dockerfile
      
  snapshot:
    image: snapshot
    build:
      context: .
      dockerfile: snapshot/Dockerfile

  validation-worker:
    image: validation-worker
    build:
      context: .
      dockerfile: validation-worker/Dockerfile

  workflow-gen:
    image: workflow-gen
    build:
      context: .
      dockerfile: workflow-gen/Dockerfile

  scheduler-jobs:
    image: scheduler-jobs
    build:
      context: ./scheduler-jobs
      dockerfile: Dockerfile

  scheduler-actor-reminders-server:
    image: player-actor-server
    build:
      context: ./scheduler-actor-reminders
      dockerfile: Dockerfile-server

  scheduler-actor-reminders-client:
    image: player-actor-client
    build:
      context: ./scheduler-actor-reminders
      dockerfile: Dockerfile-client

  scheduler-workflow:
    image: scheduler-workflow
    build:
      context: ./scheduler-workflow
      dockerfile: Dockerfile