# ------------------------------------------------------------
# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
# ------------------------------------------------------------

name: deploy-dapr-runtime

on:
  push:
    branches:
      - master
jobs:
  deploy:
    name: update dapr runtime
    runs-on: ubuntu-latest
    env:
      DAPR_INSTALL_URL: https://raw.githubusercontent.com/dapr/cli/master/install/install.sh
      DAPR_RUNTIME_VER: 1.8.0-rc.4
      DAPR_NAMESPACE: dapr-system
      TEST_CLUSTER_NAME: dapr-longhaul
      TEST_RESOURCE_GROUP: dapr-test
      HELMVER: v3.7.2
    steps:
      - name: Set up Dapr CLI
        run: wget -q ${{ env.DAPR_INSTALL_URL }} -O - | /bin/bash
      - name: Set up Helm ${{ env.HELMVER }}
        uses: azure/setup-helm@v1
        with:
          version: ${{ env.HELMVER }}
      - name: Login Azure
        run: |
          az login --service-principal -u ${{ secrets.AZURE_LOGIN_USER }} -p ${{ secrets.AZURE_LOGIN_PASS }} --tenant ${{ secrets.AZURE_TENANT }} --output none
      - name: Set up kubeconf for longhaul test environment
        run: |
          az aks get-credentials -n ${{ env.TEST_CLUSTER_NAME }} -g ${{ env.TEST_RESOURCE_GROUP }}
      - name: Deploy new dapr version to longhaul cluster
        run: |
          dapr upgrade -k --runtime-version ${{ env.DAPR_RUNTIME_VER }}
